/* ============================
   main.scss — Archivo raíz SASS
   Cines Dino Mall
   ============================ */

/* 1) Configuración global */
@import "base/variables";
@import "base/mixins";

/* 2) Estilos base y estructura */
@import "base/base";

/* 3) Secciones grandes (layout) */
@import "layout/header";
@import "layout/cartelera";
@import "layout/complejos";
@import "layout/promos";
@import "layout/forms";
@import "layout/faq";

/* 4) Componentes */
@import "components/buttons";

